.main-div-pagination{
    display: flex;
    flex-direction: row;
}

.num-div{
    padding: 4px;
    border: 0.5px solid grey;
    margin: 4px;
    color: white;
    cursor: pointer;


}

.num-div.active{
    background-color: orange;
    cursor: pointer;
    animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  from { opacity: 0.5; }
  to { opacity: 1;}
}